*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.phpunit.result.cache
.project
.settings
fuel/app/logs/*/*/*
fuel/app/cache/*/*
nbproject/
.idea
*.tmproj
*.sublime-project
*.sublime-workspace