<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
  bootstrap="../core/bootstrap_phpunit.php"
  beStrictAboutTestsThatDoNotTestAnything="false"
  colors="true"
  stopOnFailure="false"
>
  <php>
    <server name="doc_root" value="../../"/>
    <server name="app_path" value="fuel/app"/>
    <server name="core_path" value="fuel/core"/>
    <server name="package_path" value="fuel/packages"/>
    <server name="vendor_path" value="fuel/vendor"/>
    <server name="FUEL_ENV" value="test"/>
  </php>
  <testsuites>
    <testsuite name="app">
      <directory suffix=".php">../app/tests</directory>
    </testsuite>
    <testsuite name="core">
      <directory suffix=".php">../core/tests</directory>
    </testsuite>
    <testsuite name="packages">
      <directory suffix=".php">../packages/*/tests</directory>
      <exclude>../packages/campaignmonitor/tests</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../../</directory>
    </include>
	<exclude>
		<!-- Exclude tests from code coverage reporting -->
		<directory suffix=".php">../app/tests</directory>
		<directory suffix=".php">../core/tests</directory>
		<directory suffix=".php">../packages/*/tests</directory>
	</exclude>
  </source>
</phpunit>
